@import "../../global.scss";

.projects {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .projects-title {
    position: absolute;
    top: 80px;
    color: $textColor;
    font-size: 50px;

    @include mobile {
      margin: 0;
      padding: 0;
      font-size: 2.25em;
    }
  }

  .arrow {
    height: 50px;
    position: absolute;
    cursor: pointer;

    @include mobile {
      height: 25px;
    }

    &:active {
      transform: scale(0.95);
    }

    &.left {
      left: 100px;

      @media (max-width: 1100px) {
        left: 50px;
      }
      @media (max-width: 950px) {
        left: 20px;
      }
      @include mobile {
        left: 9px;
      }
    }

    &.right {
      right: 100px;

      @media (max-width: 1100px) {
        right: 50px;
      }
      @media (max-width: 950px) {
        right: 20px;
      }
      @include mobile {
        right: 9px;
      }
    }
  }

  .slider {
    height: 400px;
    width: 100vw;
    display: flex;
    position: relative;
    overflow: hidden;
    transition: all 1s ease-out;

    @include mobile {
      height: 85vh;
      justify-content: center;
    }

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      opacity: 0;
      transition: all 1s ease-out;

      @include mobile {
        top: 40px;
      }

      .item {
        width: 700px;
        height: 90%;
        background-color: $primaryColor;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 20px black;

        @media (max-width: 875px) {
          width: 77%;
        }

        @include mobile {
          box-shadow: 0px 0px 12px black;
          width: 75%;
          height: 70vh;
          margin: 10px 0;
          flex-direction: column-reverse;
        }

        .left {
          flex: 4;
          height: 88%;
          display: flex;
          justify-content: center;

          @include mobile {
            flex: 8;
            width: 100%;
          }

          .left-container {
            width: 86%;
            height: 100%;
            display: flex;
            flex-direction: column;

            @include mobile {
              height: 100%;
              display: block;
            }

            .icons-container {
              display: flex;
              position: relative;
              height: 65px;

              @include mobile {
                width: 85%;
                margin: 15px auto;
                justify-content: space-around;
              }

              .img-container {
                width: 40px;
                height: 40px;
                margin-right: 12px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                @include mobile {
                  margin-right: 0px;
                }

                img {
                  width: 25px;
                }

                .stack {
                  position: absolute;
                  top: 42px;
                  transition: linear 0.2s;
                  opacity: 0;

                  @include mobile {
                    opacity: 1;
                  }
                }

                &.img-container:hover .stack {
                  opacity: 1;
                }
              }
            }

            h2 {
              font-size: 20px;
              color: $textColor;
              line-height: 32px;
              text-decoration: underline solid 2.5px $accentColor;
              text-underline-offset: 0.5px;

              @include mobile {
                font-size: 25px;
                height: 40px;
                margin: 10px;
                text-align: center;
              }
            }

            p {
              font-size: 14px;
              line-height: 18px;
              color: $textColor;
              padding: 0px 7px 0px 0px;
              margin-top: 20px;
              height: calc((360px * 0.86) - 115px);

              @include mobile {
                height: calc((70vh * (2 / 3)) - 195px);
                margin: 0px 0px 10px 0px;
                padding: 0px;
                overflow-y: scroll;
              }
            }

            .details-container {
              display: flex;
              justify-content: space-around;
              align-items: flex-start;
              margin: auto;
              width: 80%;
              max-height: 40px;
              min-height: 40px;

              .option {
                padding: 0px 10px;
                font-weight: 700;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: linear 0.2s;
                text-decoration: none;
                color: $textColor;
              }
            }

            .desktop {
              display: flex;

              @include mobile {
                display: none;
              }
            }

            .mobile {
              display: none;

              @include mobile {
                display: flex;
              }
            }
          }
        }
        .right {
          flex: 8;
          height: 100%;
          width: 100%;
          display: block;
          overflow: hidden;
          position: relative;
          scroll-behavior: smooth;
          scroll-snap-type: y mandatory;

          @include mobile {
            flex: 4;
            width: auto;
            height: 100%;
            white-space: nowrap;
            overflow-x: scroll;
            overflow-y: hidden;
            scroll-snap-type: x mandatory;
          }

          .img-container {
            height: 100%;
            overflow: hidden;
            scroll-snap-align: start;

            @include mobile {
              width: 100%;
              display: inline-block;
            }

            img {
              height: auto;
              width: 100%;
            }
          }

          .shade {
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 2;
            color: $textColor;
            opacity: 0;
            transition: linear 0.2s;

            &:hover {
              opacity: 1;
            }

            @include mobile {
              display: none;
            }

            .shade-container {
              display: flex;
              justify-content: space-around;
              align-items: center;
              margin: auto;
              width: 80%;
              height: 100%;

              @include mobile {
                display: none;
              }

              .option {
                padding: 10px;
                font-weight: 700;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: linear 0.2s;
                text-decoration: none;
                color: $textColor;

                &:hover {
                  color: orange;
                  transform: scale(1.2);
                  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.473);
                }
              }
            }
          }
        }
      }
    }

    .activeSlide {
      opacity: 1;
      transform: translateX(0);
    }
    .lastSlide {
      transform: translateX(-100%);
    }
    .nextSlide {
      transform: translateX(100%);
    }
  }
}
