@import "../../../global.scss";

.portfolio-list-a {
  text-decoration: none;

  .list {
    font-size: 14px;
    font-family: Poppins, sans-serif;
    margin: 0px 25px;
    padding: 7px 11px;
    border-radius: 50px;
    color: $textColor;
    background-color: $primaryColorFaded;
    height: auto;
    cursor: pointer;
    margin-bottom: 0px;
    transition: all linear 0.2s;
    overflow: visible;

    @include mobile {
      margin: 0px 10px;

      &:hover {
        background-color: $primaryColorFaded;
      }
      &:active {
        background-color: $primaryColorFaded;
      }
    }

    &:hover {
      background-color: $accentColorFaded;
    }

    &:active {
      background-color: $accentColorFaded;
      transform: scale(0.9);
    }

    &.active {
      background-color: $accentColor;
      color: black;
    }

    &.inactive {
      background-color: $primaryColorFaded;
      &:hover {
        background-color: $accentColorFaded;
      }
      @include mobile {
        &:hover {
          background-color: $primaryColorFaded;
        }
      }
    }
  }
}
