@import "../../../global.scss";

.list {
  font-size: 14px;
  margin-right: 50px;
  padding: 7px 11px;
  border-radius: 50px;
  color: white;
  height: auto;
  cursor: pointer;
  margin-bottom: 0px;

  &:nth-child(5) {
    margin-right: 0px;
  }

  @include mobile {
    margin-right: 20px;
  }

  &.active {
    background-color: $accentColor;
  }
}
