@import "../../global.scss";

.portfolio {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  h1 {
    margin-top: 4vw;
    font-size: 50px;
    color: $textColor;
    overflow: visible;

    @include mobile {
      font-size: 2.25em;
    }
  }

  ul {
    margin: 23px 0;
    list-style: none;
    display: flex;
    padding: 0px;

    @include mobile {
      margin: 10px 0;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .scroller {
    width: 100vw;
    white-space: nowrap;
    position: relative;
    transition: all 1s ease-out;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none; //for firefox
    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      width: 100vw;
      scroll-snap-align: start;
    }

    .pages {
      width: 100vw;
      display: inline-block;
      align-items: center;
      justify-content: center;
      position: relative;
    }
  }
}
