@import "../../global.scss";

.portfolio {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  h1 {
    margin-top: 80px;
    font-size: 50px;
    color: $textColor;

    @include mobile {
      font-size: 2.25em;
    }
  }

  ul {
    margin: 30px 0;
    list-style: none;
    display: flex;
    padding: 0px;

    @include mobile {
      margin: 10px 0;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .container {
    width: 85%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @include mobile {
      width: 100%;
    }

    .item {
      width: 220px;
      height: 150px;
      border-radius: 8px;
      border: none;
      margin: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $textColor;
      position: relative;
      transition: ease all 0.4s;
      cursor: pointer;
      overflow: hidden;
      box-shadow: 0px 3px 8px black;

      @include mobile {
        width: 40vw;
        height: 18vh;
        margin: 10px;
      }

      h3 {
        position: absolute;
        font-style: 20px;
        text-align: center;
        text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.664);

        @include mobile {
          z-index: 3;
          bottom: 5px;
          padding: 0px 5px;
        }
      }

      .shade {
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgb(0, 0, 0);
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 60%,
          rgba(0, 0, 0, 1) 100%
        );
        z-index: 2;
        visibility: hidden;

        @include mobile {
          visibility: visible;
        }
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
        transition: linear 0.35s;
      }

      &:hover {
        background-color: $accentColor;

        img {
          opacity: 0.3;
          z-index: 0;
          transform: scale(1.05);

          @include mobile {
            opacity: 1;
            transform: none;
            z-index: 1;
          }
        }

        @include mobile {
          background-color: $primaryColor;
        }
      }
    }
  }
}
