@import "../../../global.scss";

.menu {
  width: 300px;
  height: 100vh;
  background-color: $menuActiveBackgroundColor;
  position: fixed;
  top: 0;
  left: -300px;
  z-index: 30;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(4px);
  transition: ease all 0.5s;

  @include mobile {
    background-color: $mobileMenuActiveBackgroundColor;
    justify-content: flex-end;
  }

  @media (max-width: 900px) {
    background-color: $mobileMenuActiveBackgroundColor;
  }

  @include mobileHorizontal {
    width: 180px;
  }

  &.active {
    left: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 30px;
    font-weight: 300;
    color: $textColor;
    width: 60%;
    overflow: visible;

    @include mobile {
      padding-bottom: 70px;
    }

    @include mobileHorizontal {
      font-size: 22px;
    }
  }
}
