@import "../../../global.scss";

.menu {
  flex: 2;
  height: 100vh;
  background-color: rgba(33, 34, 37, 0.9);
  position: sticky;
  top: 0;
  border-right: solid 3px black;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.4);
  z-index: 30;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(4px);
  transition: ease all 0.5s;

  @include mobile {
    background-color: $mobileMenuActiveBackgroundColor;
    left: -300px;
    position: fixed;
    padding: 0px;

    &.active {
      left: 0;
      flex: unset;
      width: 300px;
    }
  }
  @include mobileKeyboard {
    background-color: $mobileMenuActiveBackgroundColor;
    left: -300px;
    position: fixed;
  }

  @include smallDesktop {
    max-width: 80px;
  }

  @media (max-width: 900px) {
    background-color: $mobileMenuActiveBackgroundColor;
  }

  @include mobileHorizontal {
    max-width: 60px;
    height: 100%;
  }

  .menu-logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .navbar-svg {
      position: absolute;
      max-height: 50px;
      max-width: 50px;
      top: 50px;
      background-color: $accentColor;
      border-radius: 100px;
      .navbar-svg-g {
        fill: rgba(33, 34, 37, 0.9);
      }

      @include mobileHorizontal {
        top: 20px;
        max-height: 36px;
        max-width: 36px;

        .navbar-svg-g {
          fill: black;
        }
      }
    }
  }

  .ul-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0px 0px 0px;

    @include mobileHorizontal {
      overflow: visible;
      height: 100%;
      padding: 0px 0px 0px 0px;
      align-items: flex-end;
      padding-bottom: 10px;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 30px;
      font-weight: 300;
      color: $textColor;
      width: 60%;
      overflow: visible;
      justify-content: flex-start;
      align-items: flex-start;

      @include mobileHorizontal {
        font-size: 22px;
        height: 80%;
        width: unset;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }

      @include smallDesktop {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    }
  }
}
