@import "../../global.scss";

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  overflow: hidden;

  .modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    z-index: 2;
    width: 80%;
    max-width: 800px;

    .modal-wrapper {
      margin-top: 50px;
      height: 60vh;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: visible;

      @include mobile {
        height: 70vh;
        margin-top: 20px;
        max-width: unset;
      }
      @include mobileHorizontal {
        height: 80vh;
        margin-top: 20px;
        max-width: unset;
      }

      .favicon-container {
        position: absolute;
        max-height: 60px;
        max-width: 60px;
        overflow: visible;
        align-items: center;
        justify-content: center;
        display: block;
        top: -30px;
        // left: 50%;
        // transform: translate(-50%, 0%);
        z-index: 2;
        border-radius: 15px;

        .favicon {
          border-radius: inherit;
          max-height: 100%;
          max-width: 100%;
          object-fit: fill;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.74);
        }
      }

      .modal-item {
        // width: 800px;
        max-width: 100%;
        height: 60vh;
        background-color: $primaryColor;
        border-radius: $containerBorderRadius;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 20px black;
        position: relative;
        overflow: hidden;

        @media (max-width: 875px) {
          width: 80vw;
          max-width: unset;
        }

        @include mobile {
          box-shadow: 0px 0px 12px black;
          width: 100%;
          height: 70vh;
          margin: 10px 0;
          flex-direction: column-reverse;
        }

        @include mobileHorizontal {
          box-shadow: 0px 0px 12px black;
          width: 100%;
          height: 80vh;
        }

        .left {
          flex: 4;
          height: 88%;
          display: flex;
          justify-content: center;

          @include mobile {
            flex: 8;
            width: 100%;
          }

          @include mobileHorizontal {
            overflow: visible;
          }

          .left-container {
            width: 86%;
            height: 100%;
            display: flex;
            flex-direction: column;
            position: relative;
            overflow: visible;

            @include mobile {
              height: 100%;
            }

            @include mobileHorizontal {
              overflow: visible;
            }

            .icons-container {
              display: flex;
              flex: none;
              position: relative;
              height: 65px;
              overflow: visible;

              @include mobile {
                width: 90%;
                margin: 10px auto;
                justify-content: space-between;
                overflow-x: visible;
              }

              @include mobileHorizontal {
                height: 40px;
              }

              .img-container {
                width: 40px;
                height: 40px;
                margin-right: 12px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                @include mobile {
                  margin-right: 0px;
                }

                @include mobileHorizontal {
                  width: 30px;
                  height: 30px;
                  margin-right: 7px;
                }

                img {
                  width: 25px;
                  @include mobileHorizontal {
                    width: 20px;
                  }
                }

                .stack {
                  position: absolute;
                  top: 42px;
                  transition: linear 0.2s;
                  opacity: 0;
                  overflow: visible;

                  @include mobile {
                    opacity: 1;
                  }
                  @include mobileHorizontal {
                    display: none;
                  }
                }

                &.img-container:hover .stack {
                  opacity: 1;
                }
              }
            }

            h2 {
              font-size: 20px;
              color: $textColor;
              flex: none;
              text-decoration: underline solid 2.5px $accentColor;
              text-underline-offset: 0.5px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-family: Poppins, sans-serif;

              @include mobile {
                text-align: center;
                font-size: 25px;
                margin: 10px 0px;
              }
            }

            p {
              font-size: 16px;
              line-height: 22px;
              color: $textColor;
              padding: 0px 7px 0px 0px;
              margin-top: 20px;
              height: calc((60vh * 0.88) - 150px);
              font-family: Poppins, sans-serif;

              @include mobile {
                flex: 0 20 calc((70vh * (2 / 3)) - 200px);
                max-height: calc((70vh * (2 / 3)) - 175px);
                margin: 10px 0px;
                padding: 0px;
                overflow-y: scroll;
              }
              @include mobileHorizontal {
                flex: 0 20 calc((60vh * (2 / 3)) - 10px);
                max-height: calc((60vh * (2 / 3)) - 15px);
                margin: 10px 0px;
                padding: 0px;
                overflow-y: scroll;
              }
            }

            .details-container {
              display: flex;
              flex: none;
              justify-content: space-around;
              align-items: flex-end;
              margin: auto;
              width: 100%;
              overflow: hidden;
              position: absolute;
              bottom: 0px;
              left: 0px;

              @include mobile {
                display: flex;
                justify-content: space-around;
                align-items: flex-start;
                margin: auto;
                width: 100%;
                max-height: 40px;
                min-height: 40px;
              }

              @include mobileHorizontal {
                bottom: -5px;
              }

              .option {
                padding: 0px 10px;
                font-weight: 700;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: linear 0.2s;
                text-decoration: none;
                color: $textColor;

                &:hover {
                  color: orange;
                  transform: scale(1.2);
                  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.473);

                  @include mobile {
                    color: $textColor;
                    transform: none;
                    text-shadow: none;
                  }
                }
              }
            }

            .desktop {
              display: flex;

              @include mobile {
                display: none;
              }
            }

            .mobile {
              display: none;

              @include mobile {
                display: flex;
              }
            }
          }
        }
        .right {
          flex: 8;
          height: 100%;
          width: 100%;
          display: block;
          overflow-x: hidden;
          overflow-y: scroll;
          position: relative;
          scroll-behavior: smooth;
          scroll-snap-type: y mandatory;

          &::-webkit-scrollbar-thumb {
            background: $accentColor;
            border-radius: 10px;
          }

          @include mobile {
            flex: 4;
            width: auto;
            height: 100%;
            white-space: nowrap;
            overflow-x: scroll;
            overflow-y: hidden;
            scroll-snap-type: x mandatory;

            &::-webkit-scrollbar-thumb {
              background: $accentColor;
              border-radius: 10px;
            }
          }

          .img-container {
            height: 100%;
            overflow: hidden;
            scroll-snap-align: start;
            background: repeating-linear-gradient(
              90deg,
              $primaryColor,
              $primaryColor 10px,
              #000000 10px,
              #000000 20px
            );

            @include mobile {
              width: 100%;
              display: inline-block;
            }

            img {
              height: auto;
              width: 100%;
            }
          }

          .center-the-img {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
          }
        }

        .closeX {
          color: black;
          background-color: gray;
          border: none;
          border-radius: 3px;
          opacity: 0.4;
          font-size: 30px;
          height: 40px;
          width: 40px;
          font-weight: 700;
          position: absolute;
          top: 12px;
          right: 15px;
          z-index: 10;
          cursor: pointer;
          transition: all 0.2s linear;

          @include mobile {
            opacity: 1;
            background-color: rgba(220, 20, 60, 0.8);
            color: $textColor;
            border-radius: 30px;
          }

          div {
            height: 100%;
            width: 100%;
            bottom: 0.5px;
            right: 0.5px;
            position: absolute;
          }

          &:hover {
            opacity: 1;
            background-color: rgba(220, 20, 60, 0.8);
            color: $textColor;
            border-radius: 30px;
          }
        }
      }
    }
  }

  .modal-background {
    position: absolute;
    height: 100%;
    width: 100%;
    // background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
  }

  ::-webkit-scrollbar-track {
    background: $primaryColor;
  }
}

//transition effects
.modal-in {
  // transform: scale(1);
  .modal-container-in {
    .modal-wrapper-in {
      opacity: 0;
      animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
      .favicon-container-in {
        animation: faviconAppear 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
      }
    }
  }
  .modal-background-in {
    animation: fadeIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
}
.modal-out {
  animation: quickScaleDown 0s 0.5s linear forwards;
  .modal-container-out {
    .modal-wrapper-out {
      animation: scaleDown 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
      .favicon-container-out {
        animation: faviconDissappear 0.5s cubic-bezier(0.165, 0.84, 0.44, 1)
          forwards;
      }
    }
  }
  .modal-background-out {
    animation: fadeOut 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
}

//transition effects
//transition effects

@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    // background: rgba(35, 196, 217, 0.6);
    backdrop-filter: blur(5px);
  }
}

@keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, 0.7);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(1) translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}

@keyframes scaleDown {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
  100% {
    transform: scale(1) translateY(1000px);
    opacity: 0;
  }
}
@keyframes faviconDissappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes faviconAppear {
  0% {
    transform: scale(0);
  }
  40% {
    transform: scale(0);
  }
  67% {
    transform: scale(1.025);
  }
  80% {
    transform: scale(0.975);
  }
  93% {
    transform: scale(1);
  }
}

@keyframes quickScaleDown {
  0% {
    transform: scale(1);
  }
  99% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
