@import "../../global.scss";

.home {
  background-color: transparent;
  background-image: url("../../assets/other/homeBg.jpg");
  display: flex;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  .editor-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .editor {
      width: 90vw;
      max-width: 700px;
      height: 400px;
      background-color: $primaryColor;
      display: flex;
      flex-direction: column;
      border: solid 2px $editorBorder;
      box-shadow: 10px 10px 5px 2px rgba(0, 0, 0, 0.75);
      border-radius: 5px;

      @include mobile {
        height: 280px;
      }

      @include mobileHorizontal {
        height: 80%;
        max-height: 250px;
        max-width: 500px;
      }

      .top-bar {
        background-color: $editorPrimary; // white: #fffffa;
        border-bottom: solid 2px $editorBorder;
        height: 22px;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        .circle {
          width: 12px;
          height: 12px;
          border-radius: 50px;
          margin-left: 15px;
          cursor: pointer;
        }

        .red {
          background-color: rgb(253, 66, 103);
          border: solid 1px rgb(194, 19, 54);
          margin-right: 10px;

          &:hover {
            border: solid 1px rgb(250, 102, 132);
            background-color: rgb(250, 102, 132);
          }
        }
        .yellow {
          background-color: rgb(236, 210, 59);
          border: solid 1px rgb(201, 173, 15);

          &:hover {
            background-color: rgb(248, 233, 98);
            border: solid 1px rgb(248, 233, 98);
          }
        }
        .green {
          background-color: rgb(55, 206, 55);
          border: solid 1px green;

          &:hover {
            border: solid 1px rgb(90, 240, 90);
            background-color: rgb(90, 240, 90);
          }
        }
      }

      .center {
        display: flex;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .sidebar {
          width: 5%;
          min-width: 33px;
          height: 100%;
          background-color: $editorSecondary;
          display: flex;
          flex-direction: column;
          align-items: center;

          .circle {
            width: 20px;
            height: 20px;
            margin-top: 10px;
            border-radius: 50px;
            cursor: pointer;
            background-color: $editorPrimary;
            border: solid 2px $editorBorder;

            @include mobile {
              width: 17px;
              height: 17px;
            }

            &:hover {
              background-color: rgba(255, 255, 255, 0.8);
            }
          }

          .filled {
            background-color: $editorBorder;
          }
        }
        .filebar {
          height: 100%;
          width: 15%;
          border-left: solid 2px $editorBorder;
          border-right: solid 2px $editorBorder;
          display: flex;
          flex-direction: column;
          padding: 10px;
          background-color: $editorPrimary;

          .file {
            width: 80%;
            height: 16px;
            margin-bottom: 10px;
            border-radius: 2px;
            background-color: rgb(175, 175, 175);
            opacity: 0.5;
            cursor: pointer;

            &:hover {
              opacity: 1;
            }

            @include mobileHorizontal {
              height: 12px;
            }
          }

          .open {
            opacity: 1;
          }

          .red {
            background-color: rgb(253, 66, 103);
          }
          .yellow {
            background-color: rgb(255, 226, 64);
          }
          .aqua {
            background-color: rgb(55, 188, 206);
          }
          @include mobile {
            width: 15%;
          }
        }
        .openDoc {
          height: 100%;
          width: 80%;
          background-color: $editorSecondary;
          overflow: hidden;
          display: flex;

          $fourLines: 532px;

          .lines {
            display: flex;
            flex-direction: column;
            width: 33px;
            justify-content: center;
            align-items: center;

            @include mobile {
              width: 30px;
            }

            .number {
              font-family: "Source Code Pro", monospace;
              color: rgb(116, 116, 116);
              font-size: 25px;
            }

            .line1 {
              line-height: 32px;
            }

            .line2 {
              line-height: 70.4px;

              @include mobile {
                line-height: 57.6px;
              }

              @media (max-width: $fourLines) {
                line-height: 51px;
              }
              @include mobileHorizontal {
                line-height: 55px;
              }
            }

            .line3 {
              display: flex;
              justify-content: end;
              align-items: flex-end;
              height: 32.6px;
              margin-bottom: 30px;

              @include mobile {
                margin-bottom: 10px;
              }

              @media (max-width: $fourLines) {
                height: 38px;
                margin-bottom: 0px;
                color: rgb(116, 116, 116);
              }

              .number3 {
                height: 31px;
                color: rgba(255, 255, 255, 0.75);
                font-family: "Source Code Pro", monospace;
                overflow: hidden;

                @media (max-width: $fourLines) {
                  height: 39px;
                  color: rgb(116, 116, 116);
                }
                @include mobileHorizontal {
                  height: 30px;
                }
              }
            }

            .line4 {
              display: none;
              justify-content: end;
              align-items: flex-end;
              height: 33.6px;
              margin-bottom: 30px;

              @media (max-width: $fourLines) {
                margin-bottom: 10px;
                display: flex;
              }

              .number4 {
                height: 31px;
                color: rgba(255, 255, 255, 0.75);
                font-family: "Source Code Pro", monospace;
                overflow: hidden;
              }
            }
          }

          .wrapper {
            width: 100%;
            height: 100%;
            // padding-left: 20px;
            display: flex;
            flex-direction: column;
            color: rgb(72, 187, 72);
            justify-content: center;

            h1 {
              font-size: 40px;
              margin: 10px 0;
              font-family: "Source Code Pro", monospace;
              font-weight: 600;
              color: gold;
              padding-left: 3px;

              @include mobile {
                font-size: 30px;
              }

              @media (max-width: $fourLines) {
                line-height: 40px;
                margin: 5px 0px;
              }

              @include mobileHorizontal {
                font-size: 28px;
              }
            }
            h2 {
              font-size: 25px;
              font-family: "Source Code Pro", monospace;
              font-weight: 400;
              padding-left: 3px;
            }
            h3 {
              font-size: 25px;
              font-family: "Source Code Pro", monospace;
              font-weight: 400;
              margin-bottom: 30px;
              padding-left: 3px;
              line-height: 29px;
              overflow: hidden;
              background-color: rgba(255, 255, 255, 0.08);

              @include mobile {
                margin-bottom: 10px;
              }

              span {
                font-size: inherit;
                color: $accentColor;
                font-family: "Source Code Pro", monospace;
                font-weight: 600;
              }

              .ityped-cursor {
                padding-left: 3px;
                font-size: 2.2rem;
                opacity: 1;
                -webkit-animation: blink 0.7s infinite;
                -moz-animation: blink 0.7s infinite;
                animation: blink 0.7s infinite;
                animation-direction: alternate;
              }

              @keyframes blink {
                50% {
                  opacity: 1;
                }
                100% {
                  opacity: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  .home-arrow {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear 0.1s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.5);
    }

    .home-arrow-img {
      padding-top: 3px;
    }
  }
}
