@import "../../global.scss";

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  height: $navbarHeight;
  background-color: $navbarColor;
  color: $textColor;
  z-index: 100;
  transition: ease all 0.5s;
  backdrop-filter: blur(8px);
  border-bottom: solid 3px black;

  @include mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    top: unset;
    bottom: 0;
  }
  @include mobileKeyboard {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mobile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100vw;
      padding: 10px 18px;
    }
    @include mobileKeyboard {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100vw;
      padding: 10px 18px;
    }
  }

  .right {
    display: flex;
    align-items: center;

    .logo {
      font-size: 40px;
      text-decoration: none;
      font-family: 700;
      color: inherit;
      display: flex;
      justify-content: center;
      align-items: center;

      .logo-img {
        max-height: 40px;
      }

      @include mobile {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      @include mobileKeyboard {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .navbar-svg {
        max-height: 40px;
        max-width: 40px;
        border-radius: 50%;
        background-color: $accentColor;
        background-size: 200% 200%;

        .navbar-svg-g {
          fill: $navbarColor;
        }
      }
    }
  }

  .center {
    display: flex;
    align-items: center;
    justify-content: center;
    .nav-button {
      padding: 10px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
      @include mobile {
        &:hover {
          background-color: rgba(255, 255, 255, 0);
        }
      }
    }

    .center-button {
      margin: 0pc 20px;
    }

    .up-arrow {
      margin-right: 20px;

      @include mobile {
        bottom: 7px;
        left: 37%;
      }

      @include mobileHorizontal {
        bottom: unset;
        left: unset;
        top: 20px;
        right: 15px;
      }
    }

    .down-arrow {
      margin-left: 20px;

      @include mobile {
        bottom: 7px;
        right: 37%;
      }

      @include mobileHorizontal {
        bottom: 20px;
        left: unset;
        right: 15px;
      }
    }

    .arrow-img {
      width: 30px;
    }
  }

  .left {
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;

    .hamburger {
      width: 30px;
      height: 25px;
      padding: 0px 5px;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      overflow: visible;
      display: none;

      @include mobile {
        display: flex;
      }

      span {
        width: 100%;
        height: 4px;
        background-color: $accentColor;
        transform-origin: left;
        transition: ease all 0.5s;
      }
    }
  }

  &.active {
    background-color: $mobileMenuActiveBackgroundColor;
    color: $textColor;

    .hamburger {
      span {
        &:first-child {
          background-color: crimson;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: crimson;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
