@import "./global.scss";

body {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scroll-snap-align: start;
}

.app {
  background: rgb(32, 32, 32);
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(59, 62, 72, 1) 0%,
    rgba(30, 32, 36, 1) 90%
  );
  display: flex;
  width: 100%;

  @include mobile {
    background-image: radial-gradient(
      circle farthest-corner at 10% 80%,
      rgba(59, 62, 72, 1) 0%,
      rgba(30, 32, 36, 1) 90%
    );
  }

  .sections-container {
    flex: 9;
    position: relative;
    overflow: hidden;

    .sections {
      position: relative;
      top: 0;
      max-height: 100vh;
      min-height: 100vh;
      // max-height: calc(100vh - $navbarHeight);
      // min-height: calc(100vh - $navbarHeight);
      scroll-behavior: smooth;
      // scroll-snap-type: y mandatory;
      scrollbar-width: none; //for firefox
      overflow: overlay;

      &::-webkit-scrollbar {
        width: 18px;
      }

      &::-webkit-scrollbar-track {
        margin-top: $navbarHeight;
        background-color: $scollTrackColor;
        background: $scollTrackColor;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $scrollThumbColor;
        border: solid 6px transparent;
        // border-radius: 10px;
        background-clip: content-box;
      }

      > * {
        // width: 100vw;
        scroll-snap-align: start;
      }

      a {
        text-decoration: none;
        color: $textColor;
      }

      @include mobile {
        top: unset;
        max-height: calc(100vh - 60px);
        min-height: calc(100vh - 60px);

        &::-webkit-scrollbar-track {
          margin-top: unset;
        }
      }
    }
  }
}
