:root {
  --app-height: calc(100%);
  --section-height: calc(100% - 70px);
}

.app {
  /* text-align: center; */
  height: var(--app-height);
}

.sections,
.home,
.about,
.projects,
.portfolio,
.skills,
.contact {
  height: var(--section-height);
}
