$navbarColor: #202020;
$primaryColor: #202020;
$primaryColorFaded: #525252;
$menuActiveBackgroundColor: rgba(0, 0, 0, 0.5);
$mobileMenuActiveBackgroundColor: rgba(0, 0, 0, 0.9);
$accentColor: #23c5d9;
$accentColorFaded: hsla(187, 72%, 49%, 0.6);
$textColor: white;
$editorBorder: rgb(146, 146, 146);

$width: 768px;

@mixin mobile {
  @media (max-width: #{$width}) {
    @content;
  }
}

.up-arrow {
  position: absolute;
  bottom: 12px;
  left: 45%;

  @include mobile {
    bottom: 7px;
    left: 37%;
  }
}

.down-arrow {
  position: absolute;
  bottom: 12px;
  right: 45%;

  @include mobile {
    bottom: 7px;
    right: 37%;
  }
}

.arrow-img {
  width: 30px;
  // animation: arrowBlink 3s infinite;
}

@keyframes arrowBlink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

// scrollbar
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: $primaryColorFaded;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: $primaryColor;
}

// tech colors
$reactColor: #61b8fb;
$tailwindColor: #17bbb9;
$firebaseColor: #f79b00;
$javascriptColor: #f7cf00;
$cssColor: #1c86c4;
$htmlColor: #f16529;
$sassColor: #cf649a;
.react-color-bg {
  background-color: $reactColor;
}
.tailwind-color-bg {
  background-color: $tailwindColor;
}
.firebase-color-bg {
  background-color: $firebaseColor;
}
.javascript-color-bg {
  background-color: $javascriptColor;
}
.css-color-bg {
  background-color: $cssColor;
}
.html-color-bg {
  background-color: $htmlColor;
}
.sass-color-bg {
  background-color: $sassColor;
}
.react-color-text {
  color: $reactColor;
}
.tailwind-color-text {
  color: $tailwindColor;
}
.firebase-color-text {
  color: $firebaseColor;
}
.javascript-color-text {
  color: $javascriptColor;
}
.css-color-text {
  color: $cssColor;
}
.html-color-text {
  color: $htmlColor;
}
.sass-color-text {
  color: $sassColor;
}
