@import "../../../../global.scss";

li {
  height: 50px;
  margin-bottom: 25px;

  a {
    font-size: inherit;
    color: inherit;
    text-decoration: none;
    transition: linear 0.2s;
    position: relative;

    .menu-item {
      text-shadow: 0px 0px 5px black;
      // display: flex;

      .menu-icon {
        margin-right: 8px;
        @include smallDesktop {
          margin-right: 0px;
          font-size: 30px;
        }
      }

      .text {
        @include smallDesktop {
          display: none;
        }
      }
    }
    .active {
      display: inline;
      position: relative;
      font-weight: 600;
      overflow: hidden;
    }
    .active:after {
      border-radius: 50px;
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      right: auto;
      width: 100%;
      bottom: -5px;
      background: $accentColor;
      height: 4px;
      transition-property: width;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
    }
    .inactive {
      text-decoration: none;
    }
  }
  @include mobileHorizontal {
    height: 28px;
    margin-top: 12px;
    margin-bottom: unset;
  }
}

.underline {
  display: inline;
  position: relative;
  overflow: hidden;
}
.underline:after {
  border-radius: 50px;
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -5px;
  background: $accentColor;
  height: 4px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  left: 0;
  right: auto;
  width: 100%;
}
